header{ 
    background-color: rgb(222, 142, 119);
    display: flex;
    justify-content: space-between;

}
header nav ul{
    display: flex;
    justify-content: space-between;

    
}
ul li {
    padding: 10px;
    list-style: none;
    
}
